.about_us
    nim-height: 500px
    padding: 70px
    background-color:  #D9E6EC
    &_info
        display: flex
        justify-content: center
    &_img
        width: 330px
        height: 330px
        margin: 50px
        border-radius: 30px 
    &_descr
        margin: 50px 
        font-weight: 300
        font-size: 19px
        line-height: 27px
        color: #3A5264
        

