footer
    padding: 30px
.footer_wrapper
    display: flex
    justify-content: space-between
    a
        font-weight: 300
        font-size: 15px
        color: #3A3A3A
        text-decoration: none