.slider
    margin-top: 50px
.slide
    position: relative
    border-radius: 15px
    width: 30%
    z-index: 1
.slide_img
    height: 450px
    width: 330px
.slide_descr
    background-color: rgba(143, 177, 193, 0.2)
    border: 1px solid #FAFAFA
    position: absolute
    padding: 25px 5px  
    height: 82px
    width: 70%
    text-align: center
    bottom: 44%
    z-index: 2
    color: #FAFAFA
    margin-left: 50%
    transform: translateX(-50%)
    font-size: 19px
    font-weight: 300




.prev, .next
    position: absolute
    top: 50%
    transform: translateY(-50%)
    left: -70px
    border: none
    background-color: #fff
    img
        width: 40px
        height: 100px
.next
    right: -70px
    left: auto

.tns-item
    img
        position: relative
        display: block
        margin: 0 auto


// .tns-slide-active
//     padding-top: 25px
// .tns-slide-active > img
//     height: 400px

// .tns-slide-active ~ .tns-slide-active
//     padding: 0
// .tns-slide-active ~ .tns-slide-active > img
//     height: 450px
//     transition-duration: 0.2s

// .tns-slide-active ~ .tns-slide-active ~ .tns-slide-active
//     padding-top: 25px
// .tns-slide-active ~ .tns-slide-active ~ .tns-slide-active > img
//     height: 400px

.tns-nav
    margin-top: 40px
    display: flex
    justify-content: center
    button
        height: 7px
        background-color: #9c9c9c
        border: none
        margin-right: 5px

    .tns-nav-active
        background-color: #d8d7d7

