.questions
    min-height: 500px
    padding: 50px
    background-color: #F6E9EA
    &_info
        margin-top: 50px
        display: flex
        justify-content: space-between
    &_img
         width: 600px 
         height: 430px 
    .consultation
        text-align: center
        margin: 20px 0
        font-weight: 300
        font-size: 20px
        color: #3A3A3A
